@media only screen and (max-width:1440px) {
    .container {
        width: 1440px;
    }

    .hero {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero__title,.hero__info {
        text-align: center;
    }

    .applications__buttons {
        margin: 0 0 0 140px;
    }

    .blue__section {
        display: flex;
        flex-direction: column-reverse;
        height: max-content;
    }

    .blue__section--title,.blue__section--hero {
        text-align:center;
    }

    .blue__section--title {
        padding: 25px 0 24px;
    }

    .contect__section {
        display: flex;
        flex-direction: column;
    }

    .content {
        grid-template-columns: 1fr 1fr;
    }

    .content__section--title {
        text-align: center;
    }

    .content__button {
        display: block;
        margin: 0 auto;
    }

    .peoples {
        margin: 80px 0 0 100px;
    }

    form {
        margin: 53px 370px 0;
    }
}

@media only screen and (max-width:1024px) {
    .container {
        width: 1024px;
    }

    .nav__list {
        gap: 30px;
        padding: 0 0 0 80px;
    }

    .logos {
        flex-wrap: wrap;
        gap: 40px 236px;
    }

    .card {
        width: 600px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        margin: 0 180px;
    }

    .plans {
        flex-wrap: wrap;
    }

    form {
        margin: 53px 140px 0;
    }

    .peoples {
        display: flex;
        flex-wrap: wrap;
    }

    .blue__section {
        padding: 0;
        margin: 100px auto 15px;
    }

    .telephone__three {
        width: 1024px;
    }

    .sections {
        flex-wrap: wrap;
        gap: 30px 220px;
    }
}

@media only screen and (max-width:768px) {
    .container {
        width: 768px;
    }

    .nav__list {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .buttons__block {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 0 10px 0 0;
    }

    .info__section--title,.download__hero {
        width: 740px;
    }

    .card {
        width: 500px;
    }

    .telephone-blue,.telephone__three {
        width: 760px;
    }

    .hero__one--block {
        margin: 0 0 0 60px;
    }

    form {
        margin: 53px 40px 0;
    }
}

@media only screen and (max-width:375px) {

}